@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --background: #F8F8F8;
  --foreground: #171717;
  --primary: #474350;
  --primary-hover: #5b5863;
  --secondary: #F8F8F8;
  --secondary-hover: #e7e7e7;
  --font-geist: "--font-geist-sans";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #eaeaea;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-geist); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.test{
  font-family: var(--font-geist);
}

.image-home{
  border-radius: 200em;
}

.home-container{
  height: -80px;
}

.navbar-brand{
  /* font-family: "--font-geist-mono"; */
  /* font-family: var(--font-geist); */
}

.btn-normal{
  background-color: var(--primary);
  color: var(--secondary);
  width: 10em;
  transition: 0.3s ease;
}

.btn-normal:hover{
  width: 11em;
  /* transform: scale(1.1, 1.1); */
}

.btn-outline{
  border-color: var(--primary);
  color: var(--primary) ;
  width: 10em;
  transition: 0.4s ease;
}

.btn-outline-scrolled{
  border-color: var(--secondary);
  color: var(--secondary) ;
  width: 10em;
  transition: 0.4s ease;
}

.btn-outline:hover{
  width: 11em;
}

.btn-outline-scrolled:hover{
  width: 11em;
}

.navbar-link{
  position: relative;
  height: 100%;
}

.navbar-link:before{
  content: "";
  position: absolute;
  width: 0;
  background: var(--primary);
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.navbar-link:hover::before{
  width: 100%;
}

.navbar-link-scrolled{
  position: relative;
  height: 100%;
  color: var(--secondary);
}

.navbar-link-scrolled:before{
  content: "";
  position: absolute;
  width: 0;
  background: var(--secondary);
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.navbar-link-scrolled:hover::before{
  width: 100%;
}

.navbar{
  position: sticky;
  top: 0;
  transition: 0.5s ease-in-out;
}

.scrolled{
  content: "";
  background-color: var(--primary);
  opacity: 95%;
}

.section-2{
  background-color: var(--primary);
}

.text-secondary{
  color: var(--secondary);
}
.text-secondary-placeholder{
  color: var(--secondary);
}

.text-primary{
  color: var(--primary);
}

.card-project{
  background-color: var(--secondary);
  /* box-shadow: rgb(0, 0, 0) 10px 10px 2.6px; */
  transition: 0.5s ease;
}

.card-project:hover{
  background-color: var(--secondary-hover);
  box-shadow: rgb(0, 0, 0) 15px 15px 2.6px;
  transform: translateX(-10px) translateY(-10px);
}

.other-projects{
  position: relative;
  height: 100%;
  color: var(--secondary);
  padding-inline: 5px;
  padding-bottom: 10px;
  transition: 0.3s ease;
}

.other-projects:before{
  content: "";
  position: absolute;
  width: 0;
  background: var(--secondary);
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.other-projects:hover::before{
  width: 100%;
}

.section-about{
  background-color: var(--secondary);
}

.about-primary{
  background-color: var(--primary);
  border-radius: 1em;
}

.div-about{
  transition: 0.5s ease;
  border-radius: 1em;
  .image-about{
    filter: grayscale(1);
  }
}

.div-about:hover{
  transform: translateY(-10px);
  border-color: var(--primary);
  /* border-width: 1px; */
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
  .image-about{
    filter: grayscale(0);
  }
}

.div-primary{
  background-color: var(--primary);
}
.div-primary-hover{
  background-color: var(--primary-hover);
}

.div-secondary{
  background-color: var(--secondary);
}

.other-projects-secondary{
  position: relative;
  height: 100%;
  color: var(--primary);
  padding-inline: 5px;
  padding-bottom: 10px;
  transition: 0.3s ease;
}

.other-projects-secondary:before{
  content: "";
  position: absolute;
  width: 0;
  background: var(--primary);
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.other-projects-secondary:hover::before{
  width: 100%;
}

.card-contact{
  position: relative;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.front{
  /* position: absolute; */
  backface-visibility: hidden;
}

.back{
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: none;
  height: 100%;
  top: 10px;
  right: 10px;
  left: 10px;
}

.card-contact.flipped{
  transform: rotateY(180deg);
  .front{
    visibility: hidden;
  }

  .back{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}